.h1{
margin-left: 190px;
font-family: Arial, Helvetica, sans-serif;
}
.card0{
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-content: center;
  width: 80%;
  flex-wrap: wrap;


}

.card{
  border: 4px;
  border-style: dashed;
  border-color: white;
  box-sizing: border-box;
  margin: 5px 5px 5px 5px;
  width: 250px;
  flex-shrink: 0;
}
img{
  width: 250px;
  height: 161px;
  max-width: 100%;
  max-height: 100%;
}
h2{
  margin: 10px 5px 10px 5px;
  font-family: Arial, Helvetica, sans-serif;
}
h3{
  margin: 5px 5px 5px 5px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(104, 98, 98);
}
button{
  border-radius: 4px;
  background: rgb(241, 245, 252);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 35%;
  height: 25px;
}
